<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger text-center text-sm-start">View Contacts</p>
            <p class="fst-italic text-center text-sm-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, possimus. Quos numquam aperiam animi,
                obcaecati, dicta sunt ab distinctio blanditiis, odio aut delectus laudantium asperiores expedita culpa!
                Harum, eum blanditiis?
            </p>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold text-center">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Details -->
<div class="container" *ngIf="!loading && isNotEmpty()">
    <div class="row align-items-center justify-content-center text-center">
        <!-- Image Section -->
        <div class="col-12 mb-3">
            <img [src]="contact.photo" alt="" class="contact-img-big mx-auto d-block rounded-circle" style="max-width: 150px;">
        </div>

        <!-- Contact Details Section -->
        <div class="col-12 col-sm-8 text-start">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">{{contact.name}}</span></li>
                <li class="list-group-item list-group-item-danger">Mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
                <li class="list-group-item list-group-item-danger">Email: <span class="fw-bold">{{contact.email}}</span></li>
                <li class="list-group-item list-group-item-danger">Shirt_measurements: <span class="fw-bold">{{contact.company}}</span></li>
                <li class="list-group-item list-group-item-danger">Pant_measurements: <span class="fw-bold">{{contact.title}}</span></li>
                <li class="list-group-item list-group-item-danger">Group Name: <span class="fw-bold">{{group.name}}</span></li>
            </ul>
        </div>
    </div>

    <!-- Back Button -->
    <div class="row mt-3">
        <div class="col text-center">
            <a routerLink="/contacts/admin" class="btn btn-danger">
                <i class="fa fa-arrow-alt-circle-left"></i> Back
            </a>
        </div>
    </div>
</div>
