<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger text-center text-md-start">Add Contacts</p>
            <p class="fst-italic text-center text-md-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, possimus. Quos numquam aperiam animi,
                obcaecati, dicta sunt ab distinctio blanditiis, odio aut delectus laudantium asperiores expedita culpa! Harum, eum blanditiis?
            </p>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold text-center">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <!-- Image Section -->
        <div class="col-12 col-md-6 text-center order-1 order-md-2 mb-4">
            <img [src]="contact.photo ? contact.photo : '/assets/defaultt.png'" alt="Contact Image" class="contact-img img-fluid rounded" style="max-width: 200px;">
        </div>

        <!-- Form Section -->
        <div class="col-12 col-md-6 order-2 order-md-1">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input required="true" type="text" class="form-control" placeholder="Name" [(ngModel)]="contact.name" name="name">
                </div>
                <div class="mb-2">
                    <input required="true" type="file" (change)="onFileSelected($event)" class="form-control">
                </div>
                <div class="mb-2">
                    <input required="true" type="text" class="form-control" placeholder="Email" [(ngModel)]="contact.email" name="email">
                </div>
                <div class="mb-2">
                    <input required="true" type="text" class="form-control" placeholder="Mobile" [(ngModel)]="contact.mobile" name="mobile">
                </div>
                <div class="mb-2">
                    <input required="true" type="text" class="form-control" placeholder="Shirt Measurements" [(ngModel)]="contact.company" name="Shirt_measurements">
                </div>
                <div class="mb-2">
                    <input required="true" type="text" class="form-control" placeholder="Pant Measurements" [(ngModel)]="contact.title" name="Pant_measurements">
                </div>
                <div class="mb-2">
                    <select required="true" [(ngModel)]="contact.groupId" name="contact.groupId" class="form-control" *ngIf="groups.length > 0">
                        <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Create">
                    <a routerLink="/contacts/admin" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
